body {
    color: #2a2a2a;
    background-color: #ffffff;
    font-family: "Alan Sans", sans-serif;
    font-size: 18px;
}
header {
    background-color: rgb(26, 49, 255);
    height:200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 20px;
    color:#eeeeee;
}
h2 {
    text-align: center;
}
b,i,del {
    background-color: #eeeeee;
    color:#000000;
}
img {
    height:150px;
    margin-right:30px;
    border: #8cd87d;
    border-style: solid;
    border-radius: 50px;
    border-width: 20px;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item {
    width:250px;
    padding: 20px 20px;
}
a {
    color: #000285;
}
a:hover {
    color: rgb(151, 127, 47);
}
#structure {
    background-color: #db631d;
}
.site-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.site-menu li {
    padding: 20px 20px 20px 20px;
}